
/**sabai select**/
*{
    color: blue;
}

/**element**/
h1{
    color: greenyellow;
}

/**class selector**/
.dakarmi{
    color:yellow;
}

/**id selector**/
#csit{
    color: red;
}

/**grouping**/
.message{
    font-family: sans-serif;
    
}

.s{
    background-color: greenyellow;
}

.f{
    background-color: red;
}




/**chain selector**/

.message.s{
    background-color: greenyellow;
}

.message{
    background: orange;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/**image wala **/
img{
    width: 180px;
    height: 320px;
}

.center{
    text-align: center;
}

body{
    background-image:url(/css-basics/wallpaperflare.com_wallpaper.jpg);
    background-size:cover;
    background-repeat: repeat;
    background-color: blanchedalmond;
    backgr
}